<% for (let i = 0; i < comments.length; i++) {%>
<div>
	<div class="comment flex-[6] pt-4">
		<div class="comment">
			<div>
				<button 
					class="text-blue-500 hover:underline"
					hx-get="/api/comments/<%= comments[i].id %>/replies"
					hx-target="#child-<%= comments[i].id	%>"
				>[+]</button>
				<h1 class="text-sm text-white font-bold inline"><%= comments[i].author %></h1>
				<div class="mt-1">
					<p class="text-[#4C555A] text-sm"><%= comments[i].content %></p>
				</div>
			</div>
			<div class="mt-2">
				<button class="bg-black border-accent border-[1px] rounded-tl-full rounded-bl-full text-white text-sm pr-2"><ion-icon class="align-middle text-xl text-white pl-2 py-1" name="chevron-up"></ion-icon>0</button>
				<button class="bg-black border-accent border-[1px] rounded-tr-full rounded-br-full"><ion-icon class="align-middle text-xl text-white pl-1 pr-2 py-1" name="chevron-down"></ion-icon></button>
				<button 
					class="bg-black border-accent border-[1px] rounded-full"
					onclick="showCommentBox('<%= comments[i].id	%>')"
				><ion-icon class="align-middle text-lg text-white px-3 py-1" name="chatbubble-outline"></ion-icon></button>
			</div>
		</div>
		<form 
			id="box-<%= comments[i].id %>"
			class="hidden gap-2 mt-4"
			hx-post="/api/comments/<%= comments[i].id %>/replies"
			hx-target="#child-<%= comments[i].id	%>"
		>
			<input name="content" type="text" placeholder="Add a comment" class="text-white bg-accent w-full py-2 rounded-full text-l px-4">
			<input hidden value="<%= comments[i].post_id %>" name="postId" type="text">
			<button 
				type="submit" 
				class="bg-brand rounded-full px-3 text-white font-bold"
			>Comment</button>
		</form>
		<div id="child-<%= comments[i].id	%>" class="pl-6">
		</div>
		<div class="border-accent border-y-[1px] w-full my-2 text-white"></div>
	</div>
</div>
<% } %>